body {
    font-family: Arial, sans-serif;
    background-color: beige;
}

#index-body {
    font-size: 2em;
}

h1, h2, h3 {
    text-align: center;
}

table, th, td {
    background-color: aliceblue;
    clear: both;
    margin: 10px;
    padding: 5px;
    border: 1px solid;
}

img {
    box-shadow: 0px 0px 10px;
}


#names {
    background-color: bisque;
    padding: 17px;
    padding-left: 50px;
    box-shadow: 0px 0px 10px;
    float: left;
    clear: left
}

#contents {
    background-color: bisque;
    float: right;
    width: 15em;
    margin: 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px
}

.info-heading {
    clear: both;
    margin-top: 50px;
}

.info-images {
    float: left;
    margin: 0px 15px
}

.bottom-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.transparent {
    all: initial;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.information {
    width: 80%;
    height: auto;
    margin: auto;
    margin-bottom: 40px;
    padding: 10px;
    box-shadow: 0px 0px 10px;
    overflow-y: auto;
}

#alimentacion {
    background-color: skyblue;
}

#diferencias {
    background-color: burlywood
}

#comunicacion {
    background-color: lightgray
}

#derechos {
    background-color: lightgreen
}

#relaciones {
    background-color: azure
}