body {
    font-family: Arial, sans-serif;
    background-color: beige
}
h1 {
    text-align: center;
}

img {
    box-shadow: 0px 0px 10px;
}


#names {
    background-color: bisque;
    padding: 17px;
    box-shadow: 0px 0px 10px;
    float: left;
    clear: left
}

#contents {
    background-color: bisque;
    float: right;
    width: 15em;
    margin: 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px
}